/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.text-1 {font-size: 2rem;}
.text-2 {font-size: 1.5rem;}
.text-active {color: orange;}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .text-1 {font-size: 1.6rem;}
  .text-2 {font-size: 1.3rem;}
}

